body {
    text-align: center;
}
h1 {
    color: slategray;
    font-size: 50px;
}
#upper-game-button-parent {
    display: flex;
    justify-content: center;
}
#upper-game-buttons {
    justify-content: center;
    
}