body {
    text-align: center;
}
h1 {
    color: slategray;
    font-size: 50px;
}
#upper-game-button-parent {
    display: flex;
    justify-content: center;
}
#upper-game-button > .game-button {
    justify-content: center;
    border-radius: 2px;
    font-size: 18px;
    display: inline-block;
    background-color: beige;
    border: 2px solid black;
}
#game-text-container {
    border: 5px solid black;
    margin-top: 15px;
}
#game-text {
    border: 2px solid black;
    margin: 5px auto;
}
p {
    font-size: 20px;
}