body {
    text-align: center;
    background: url("https://www.wallpapertip.com/wmimgs/42-425460_709967-title-video-game-days-gone-wallpaper-days.png");
    background-size: cover;

}
@font-face {
    font-family: AnotherDanger;
    src: url(./another_danger/Another\ Danger\ Slanted\ -\ Demo.otf) format("opentype");
    font-weight: bold;
}
h1 {
    color: red;
    font-size: 100px;
    font-family: AnotherDanger;
}
#upper-game-button-parent {
    display: flex;
    justify-content: center;
}
#upper-game-button > .game-button {
    justify-content: center;
    border-radius: 2px;
    font-size: 18px;
    display: inline-block;
    background-color: beige;
    border: 2px solid black;
}
#game-text-container {
    border: 5px solid black;
    margin-top: 15px;
}
#game-text {
    border: 2px solid black;
    margin: 5px auto;
}
p {
    font-size: 20px;
}
#lower-game-button-parent {
    border: 5px solid black;
    margin-top: 15px;
}
#lower-game-buttons {
    border: 2px solid black;
    margin: 5px auto;
}
.lower-game-button {
    justify-content: center;
    border-radius: 2px;
    font-size: 18px;
    display: inline-block;
    background-color: beige;
    border: 2px solid black;
}